body {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	background-color: hsl(0, 0%, 95%);
}


main {
	width: 70%;
	margin: 50px auto;
}

h2 {
	color: hsl(0, 0%, 95%);
	font-family: 'Big Shoulders Display', sans-serif;
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
	/* font-stretch: extra-condensed;
	transform: scale(1, 1.5) */
}

p {
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.5;
}

button {
	background-color: hsl(0, 0%, 95%);
	font-family: inherit;
	font-size: inherit;
	border: 0;
	border-radius: 50px;
	padding: 15px 30px;
	text-transform: capitalize;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
}

.grid-item-1, .grid-item-2, .grid-item-3 {
	padding: 15%;
}

.grid-item-1 {
	background-color: hsl(31, 77%, 52%);
	border-radius: 10px 0 0 10px;
}

.grid-item-2 {
	background-color: hsl(184, 100%, 22%);
}

.grid-item-3 {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 10px 10px 0;
}

.text {
	max-height: 250px;
	margin-bottom: 100px;
}

.button-1 {
	color: hsl(31, 77%, 52%);
}

.button-1:hover {
	color: hsla(31, 77%, 52%, 0.5);
}

.button-2 {
	color: hsl(184, 100%, 22%);
}

.button-2:hover {
	color: hsla(184, 100%, 22%, 0.5);
}

.button-3 {
	color: hsl(179, 100%, 13%);
}

.button-3:hover {
	color: hsla(179, 100%, 13%, 0.5);
}

@media screen and (max-width: 750px) {
	.grid-container {
		grid-template-columns: auto;
	}

	.grid-item-1 {
		border-radius: 10px 10px 0 0;
	}

	.grid-item-3 {
		border-radius: 0 0 10px 10px;
	}

	.text {
		margin-bottom: 30px;
	}
}
